body{
    text-align: center;
}

table{
    width: 60%;
    margin: auto;
    font-size: 1.3em;
}

td{
    border-bottom: 1px dashed gray;
    padding: 5px 0px;
}

td.even{
    /* border-bottom: 2px dashed brown; */
    background-color: lightgoldenrodyellow;
}

th{
    border: 2px solid brown;
}